<ul class="flex">
  <li class="mr-6">
  <%= link_to "Venues", venues_path, class: "text-blue-500 hover:text-blue-800" if policy(:venue).index? %>
  </li>
  <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="#">Link</a>
  </li>
  <li class="mr-6">
    <%= link_to "Sign in", new_user_session_path, class: "text-blue-500 hover:text-blue-800" unless current_user %>
    <%= link_to "Sign out", destroy_user_session_path, class: "text-blue-500 hover:text-blue-800" if current_user %>
  </li>
</ul>
